<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>姓名案例_计算属性实现</title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
	<div id="root">
		姓：<input type="text" v-model="firstName"> <br /><br />
		名：<input type="text" v-model="lastName"> <br /><br />
		全名：<span>{{fullName}}</span> <br /><br />
	</div>
</body>
<!-- 函数和计算属性的相同点和不同点：
	相同：

	不同：
		1. 计算属性有缓存
	-->

<script type="text/javascript">
	Vue.config.productionTip = false

	const vm = new Vue({
		el: '#root',
		data: {
			firstName: '张',
			lastName: '三',
		},
		methods: {

		},

		computed: {

			// 函数的名，就是计算属性的名，
			// 只有在只读取的情况，才可以使用简写的形式，因为简写的，实在上是get函数的作用
			//fullName(){
			fullName: function () {
				console.log('get被调用了')
				return this.firstName + '-' + this.lastName
			}
		}
	})
</script>

</html>