<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="d:/vue.js"></script>
    </head>
    <body>
        <!--View-->
        <div id="box">
          <select v-model="myselected">
            <option disabled value="">Please select</option>
            <option>C++</option>
            <option>Java</option>
            <option>C#</option>
            </select>
            <span>Single Selected: {{ myselected }}</span>
          <br><br><br>
          <select v-model="Mulselected" multiple style="width: 100px;">
            <option>Delphi</option>
            <option>Java</option>
            <option>Html</option>
          </select>
        <span>Multi selected: {{ Mulselected }}</span>
        </div>
    </body>
   
    <script>
       //Model
       const user = {
        data(){         
          return{
            myselected: '',
					  Mulselected: []
			  	}
        }
    }
    //ViewModel
    const app = Vue.createApp(user);     
    const rc = app.mount("#box");   
    //rc.originHobbits=['VC++','VB++','Java','Vue'];  //增加一个checkbox
</script>
</html>
