<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>

<body>


    <div id="box">

        <input type="text" v-model="mytext">
        {{mytext}} {{getFun()}}{{getCom}}
        </input>
        <input type="text" v-model="mytext">
        {{mytext}} {{getFun()}}{{getCom}}
        </input>
    </div>

    <script>
        var vm = new Vue(
            {
                el: "#box",
                data: {
                    mytext: "",
                },
                methods: {
                    getFun() {
                        console.log("this is getFun")
                        return this.mytext.substring(0, 1).toUpperCase() + this.mytext.substring(1);
                    }
                },
                computed: {
                    // 1 计算属性，定义时候是个函数，使用时候是个属性
                    // 2 同一页面绑定多个同一个属性时，可使用缓存，不像函数，需要每次重新调用
                    getCom() {
                        console.log("this is getCom")
                        return this.mytext.substring(0, 1).toUpperCase() + this.mytext.substring(1);
                    }
                }
            }
        );

    </script>

</body>

</html>