<html>
  <head>
    <meta charset="UTF-8" />
    <script src="d:/vue.js"></script>
    <!-- import CSS -->
    <link rel="stylesheet" href="D:/mynpmsoft/node_modules/element-plus/dist/index.css">
    <!-- import element-plus -->
    <script src="D:/mynpmsoft/node_modules/element-plus/dist/index.full.js"></script>
    <title>Element Plus demo</title>
  </head>
  <body>
    <div id="box">
      <el-checkbox-group v-model="checkedCities" :min="1" :max="2">
        <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
      </el-checkbox-group>
    </div>
    <script>
       const cityOptions = ['Shanghai', 'London', 'New York', 'Paris']
      const app = Vue.createApp({
            data() {
          return {
            checkedCities: ['Shanghai', 'London'],
            cities: cityOptions,
          }
        }
      });
      app.use(ElementPlus);
      rc = app.mount("#box");
    </script>
 
  </body>
</html>
