<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>

    <div id="box">

        <!-- 双向数据绑定-->
        <input type="text" v-model="mytext"> <p>{{mytext}}</p>
        <!-- 因为数据是双向绑定的,无需使用dom的方式,获取单选是否被选择 -->
        <input type="checkbox" v-model="mychk"><label>记住用户名</label>

        <!-- 多选框  数据双向绑定的是一个数组，而且，每一项都要设置value -->
        <p>你喜欢的运动
            <input type="checkbox" v-model="chkgrp" value='h1'>游泳
            <input type="checkbox" v-model="chkgrp" value='h2'>画画
            <input type="checkbox" v-model="chkgrp" value='h3'>足球
        </p>
        {{chkgrp}}

        <!-- 单选框，数据绑定的可以是一个数组 -->
        <p>你最喜欢的语言
            <input type="radio" v-model="rdogrp" value='python'>python
            <input type="radio" v-model="rdogrp" value='vue'>vue
            <input type="radio" v-model="rdogrp" value='java'>java
        </p>
        {{rdogrp}}
    </div>

    <script>
     var app=   new Vue(
            {
                el: "#box",
                data:{
                    mytext:"",
                    mychk:false,
                    chkgrp:[],
                    rdogrp:""
                },
                methods: {
                    handleli: function () {
                        console.log("li click")
                    },
                    handleui: function () {
                        console.log("ul click")
                    },
                    handleenter:function(ev)
                    {
                        console.log(ev)
                    }
                }
            }
        )
    </script>
    
</body>
</html>