*{
    margin:0px;
    padding:0px;
}
.clear::before,.clear::after{
    content:"";
    display: block;
    clear: both;
}
.title{
    width:800px;
    height:30px;
    border:1px solid red;
}
.title h2{
    font-size:16px;
    line-height: 30px;
}
.title h2 a{
    color:#aaa;
    float: right;
    font-size: 12px;
    text-decoration: none;
}
.list .img{
    float: left;
}
.list .describe{
    float: left;
}